body {
  background: url("img/bread_bg.jpg");
  background-size: cover;
}

#calculator-frame {
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 400px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  font-size: 2em;
}

#calculator-frame div {
  display: block;
  color: white;
  width: 100%;
  float: left;
}

#calculator-frame div label{
  float: left;
}

#calculator-frame div input{
  float: right;
  font-size: 1em;
  width: 30%;
}

#results span{
  float: right;
}

#inputs {
  margin-top: 20px;
}